<h1><%= @band.band_name() %></h1>
<% if @band.venues().any? %>
<h3><u><%= @band.band_name() %> Have Played Here:</u></h3>
<% @band.venues().alphabetical().each() do |venue| %>
<li><%= venue.venue_name() %></li>
<% end %>
<% else %>
No concert show history for <%= @band.band_name() %> available yet... Add venues to their show history below.
<% end %>
<h3><u>Add Venues To <%= @band.band_name() %>'s Show History</u></h3>
<% if @venues.any? %>
<% @venues.alphabetical().each() do |venue| %>
<form action="/bands_venues_add" method="post">
<input type="hidden" name="_method" value="patch">
<div class="checkbox">
<label>
<input type="hidden" name="id" value="<%=@band.id %>">
<input type="checkbox" id="venue_ids_array[]" name="venue_ids_array[]" value="<%= venue.id() %>">
<%= venue.venue_name() %></a>
</label>
</div>
<% end %>
<% else %>
There are no venues to select from yet.
<% end %>
<button type="submit" class="button">Add Venues To <%= @band.band_name %>'s Played History</button>
</form>
<br>
<a href="/">Back To Homepage</a>
<p>
<form action="/bands/<%= @band.id() %>" method="post">
<input name="_method" type="hidden" value="patch">
<label for="name"><b>Rename Band:</b></label>
<input id="name" name="name" type="text">
<button type="submit">Update Band Name</button>
</form>
</p>
<p>
<form action="/bands/<%= @band.id() %>" method="post">
<input name="_method" type="hidden" value="delete">
<button type="submit">Delete <%= @band.band_name %> From Database</button>
</form>
